body {
  background-color: #ffeee9;
}

.h1-shadow {
  font-family: "DM Serif Display", serif;
  background: #827e47;
  background: -webkit-linear-gradient(top, #827e47, #82714f);
  background: -moz-linear-gradient(top, #827e47, #82714f);
  background: linear-gradient(to bottom, #827e47, #82714f);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  position: relative;
  top: -325px;
  text-align: center;
}

h2 {
  font-size: 12px;
  position: relative;
  top: -330px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h4 {
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  display: block;
  color: #fff5f4;
}

p {
  color: #ff9e93;
  margin: 0px auto;
  padding: 0px auto;
  pointer-events: none;
  display: inline-block;
}

.container {
  max-width: 350px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  background: #fbddd7;
  background: -webkit-linear-gradient(top, #fbddd7, #fad2cb);
  background: -moz-linear-gradient(top, #fbddd7, #fad2cb);
  background: linear-gradient(to bottom, #fbddd7, #fad2cb);
  overflow: hidden;
}

.top-blossom {
  position: relative;
  max-width: 350px;
  height: 140px;
  width: auto;
  right: 11px;
  top: -40px;
}

.bottom-side {
  position: relative;
  height: 50px;
  top: 180px;
  left: 250px;
}

.bottom-blossom {
  position: relative;
  max-width: 350px;
  height: 140px;
  width: auto;
  right: -10px;
  top: 250px;
}

.tiny-flower-1 {
  height: 45px;
  width: auto;
  position: relative;
  top: -300px;
  left: -100px;
}
.tiny-flower-2 {
  height: 25px;
  width: auto;
  position: relative;
  top: -280px;
  left: -100px;
}
.tiny-flower-3 {
  height: 35px;
  width: auto;
  position: relative;
  top: -200px;
  left: -150px;
}

.tiny-flower-4 {
  height: 35px;
  width: auto;
  position: relative;
  top: -240px;
  left: 50px;
}

.locator {
  font-weight: 200;
  display: inline;
  margin: 0px 5px;
  font-size: 25px;
  position: relative;
  top: -241px;
  left: 10px;
  color: #fd9d98;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.locator:hover {
  color: #fff;
  text-shadow: -1px 0 #fd9d98, 0 1px #fd9d98, 1px 0 #fd9d98, 0 -1px #fd9d98;
}

.locator:active {
  color: #ff9e93;
}

#input-city {
  position: relative;
  top: -300px;
  left: 50px;
  max-width: 180px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  color: #d88787;
  font-family: "Open Sans", sans-serif;
  transition: all 300ms ease;
}

#input-city:hover {
  background: rgba(255, 255, 255, 0.5);
}

#submit-city {
  position: relative;
  top: -300px;
  left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: all 300ms ease;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#submit-city:hover {
  background: white;
  color: #d88787;
}

::placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

/*
.noon-wrapper:hover,
.three-pm-wrapper:hover,
.evening-wrapper:hover,
.night-wrapper:hover {
  animation: bounce 1.5s ease-in-out infinite;
  -webkit-animation: bounce 1.5s ease-in-out infinite;
  -moz-animation: bounce 1.5s ease-in-out infinite;
  -ms-animation: bounce 1.5s ease-in-out infinite;
  -o-animation: bounce 1.5s ease-in-out infinite;
}
*/

/*
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(-20px);
  }
}
*/

.temp-circle-today {
  background: rgba(255, 39, 62, 0.4);
  background: -webkit-linear-gradient(
    top left,
    rgba(255, 39, 62, 0.4),
    rgba(251, 215, 208, 1)
  );
  background: -moz-linear-gradient(
    top left,
    rgba(255, 39, 62, 0.4),
    rgba(251, 215, 208, 1)
  );
  background: linear-gradient(
    to bottom right,
    rgba(255, 39, 62, 0.4),
    rgba(251, 215, 208, 1)
  );
  border-radius: 50%;
  border: none;
  height: 160px;
  width: 160px;
  position: relative;
  top: -335px;
  display: block;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
  background-clip: content-box;
  padding: 10px;
  border: 1px solid rgba(256, 256, 256, 0.9);
  animation: bigger 2s ease-in-out infinite;
}

@keyframes bigger {
  0% {
    padding: 5px;
  }
  50% {
    padding: 0px;
  }
  100% {
    padding: 5px;
  }
}

.today-condition {
  position: relative;
  bottom: 508px;
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}

.temp-celsius-today {
  font-size: 28px;
  position: relative;
  top: -488px;
  text-align: center;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  font-weight: 300;
}

.celsius-fahrenheit {
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 515px;
  left: 175px;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
}

.celsius-fahrenheit a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

.celsius-fahrenheit a:hover {
  color: #827e47;
  font-weight: bold;
}

.wind {
  position: relative;
  bottom: 505px;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
}

.humidity {
  position: relative;
  bottom: 505px;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
}

.icon-today {
  position: relative;
  top: -485px;
  color: #fff5f4;
  width: 15%;
}

.forecast {
  position: relative;
  bottom: 505px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 12px 0px 12px 0px;
}

.forecastDay {
  background: rgba(255, 238, 233, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 238, 233, 1),
    rgba(251, 221, 215, 0.8)
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 238, 233, 1),
    rgba(251, 221, 215, 0.8)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 238, 233, 1),
    rgba(251, 221, 215, 0.8)
  );
  border-radius: 30px;
  border: none;
  display: block;
  text-align: center;
  padding: 5px;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: 10px;
  position: relative;
  bottom: 505px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.link {
  outline: none;
  text-decoration: none;
  color: #827e47;
  transition: ease-in 200ms all;
  cursor: pointer;
  pointer-events: all;
}

.link:hover {
  color: #ff9e93;
}
